<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜索框</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="/static/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="/static/jquery-3.7.1.min.js"></script>
    <script src="/static/layer.js"></script>


</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-2">
                <form method="post" action="/index/search">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">搜索关键词</label>
                        <input type="text" name="keywords" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="{$keywords}">
                        <div id="emailHelp" class="form-text">请输入资源关键词</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">搜索码</label>
                        <input type="text" name="code" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">请输入搜索码</div>
                    </div>
                    {if !$verify }
                    <div class="alert alert-danger" role="alert">
                        搜索码错误~
                    </div>
                    {/if}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>
                <div class="alert alert-success mt-3" role="alert">
                    搜索结果可能包含游戏本体、游戏金手指、软件、电影等资源。
                </div>
                <div class="alert alert-warning mt-1" role="alert">
                    <p>使用说明:</p>
                    1.请先点击公众号菜单栏【搜索码】功能获取搜索码。<br>
                    2.输入资源关键词(关键词中间不能有空格)和搜索码查看查询结果。<br>
                    3.点击搜索结果列表跳转到网盘链接进行转存和下载。
                </div>
            </div>
        </div>
    </div>

    <script>
        const btn = document.querySelector("button")
        btn.addEventListener("click", (e) => {
            index = layer.load(1);
            setTimeout(() => {
                layer.close(index)
                e.returnValue()
            }, 2000)
        })
    </script>
</body>

</html>